.hamburger {
    color:darkgray;
    font-style: italic;
    font-size: 25pt;
}

.bigtasty {
    color: gray;
    font-family: cursive;
    font-size: 25pt;
}

.bigmac {
    color: black;
    font-family: monospace;
    font-size: 25pt;
}

ul li {
    list-style-type: none;
    background-image: url(Media/cripper.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.container {
    background-image: url(Media/fit_logo.jpg);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: right top;
}

span {
    color: red;
}

img {
    display: block;
    width: 300px;
}

.pics__1 {
    float: left;
}

.pics__2 {
    float: right;
    margin-right: 1000px;
}

.block__1 {
    margin-bottom: 200px;
}

.block__2    {
    margin-bottom: 200px;
}

p {
    margin: 0;
    padding: 0;
    text-indent: 20px;
}



