.container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    background: lightblue;
    width: fit-content;
    padding: 10px;
}

.container div {
    /* background: lightgreen; */
}

.block__4, .block__5, .block__6 {
    background: red;
}

p {
    color: blue;
}