body {
    background: lightgoldenrodyellow;
}

.container {
    display: grid;
    grid-template-areas: 
    "content__header content__header content__header content__header"
    "nav  content__article content__article content__aside"
    "nav  content__article content__article content__aside"
    "nav  content__article content__article content__aside"
    "content__footer content__footer content__footer content__footer"
    ;
    grid-gap: 5px; 
    grid-auto-rows: minmax(auto, 110px);
    grid-auto-columns: minmax(200px);
}

.container div {
    background: lightblue;
    box-shadow: 2px 2px 2px darkkhaki;
    border-radius: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;
    padding: 10px 0px 0 0;
}

.content__header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: content__header;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(48, 90, 90);
    text-shadow: 2px 2px 2px lightcyan;
}

.content__article {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: content__article;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 90, 90);
}

.content__aside {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: content__aside;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 90, 90);
}

.content__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: content__footer;
    height: 30px;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 90, 90);
}

ul li {
    list-style-type: none;
    padding: 15px;
    margin-left: -40px;
}

a {
    text-decoration: none;
    background: whitesmoke;
    box-shadow: 2px 2px 2px darkblue;
    padding: 5px;
    border-radius: 5px;
}

a:link {
    color: darkcyan;
}

a:visited {
    color: darkcyan;
}

a:hover {
    box-shadow: 1px 1px 1px darkblue;
    transition: 0.2s;
}