.nav {
    text-align: center;
}

.nav li {
    display: inline-block;
    background: yellow;
    border: 2px solid green;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin-left: -10px;
    
}

.nav a:link {
    color: green;
    text-decoration: none;
}

.nav a:visited {
    color: green;
    text-decoration: none;
}