.table1, .table2{
    border: solid 1px black;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.table1 tr:nth-child(3n){
    background: gray;
}

.table2 td:nth-child(2n + 3){
    background: gray;
}